<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 mt-5" *ngFor="let respuesta of respuestaServicio">
            <div class="card">
                <h5 class="card-title">{{respuesta.nombre}} </h5>
                 <p class="card-text"> numero de personas:  {{respuesta.numeroPersonas}} </p>
                 <p class="card-text">{{respuesta.descripcion}} </p>
                 <p class="card-text">{{respuesta.valorNoche}} </p>
                 <img src={{respuesta.imagenes}} alt="">
    
            </div>
            
        </div>
    </div>
    
</div>
