<section class="fondo">

<div class="container ">
    <div class="row mt-5 ">
        <div class="col-6">
            <img class="img-fluid w-100  " src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Man%C3%A1_-_Rock_in_Rio_Madrid_2012_-_65.jpg/1280px-Man%C3%A1_-_Rock_in_Rio_Madrid_2012_-_65.jpg" alt="">
        </div>
        

        <div class="col-6">
            <h1 class="">MANA</h1>
            Maná (1987)
            Artículo principal: Maná (álbum)
            En medio de este naciente grupo, la banda adoptó el nombre que le daría proyección internacional: «Maná». El nombre del grupo fue elegido por el significado que tiene la palabra en polinesio: «energía positiva».7​
            
            En 1987, el grupo firmó con la discográfica Polygram y publicó Maná, disco que afianzaría el movimiento Rock en tu idioma; entre sus sencillos, estaban diez temas.8​
            
            La formación para la grabación de este álbum consistía en Fernando Olvera como vocalista, los hermanos Calleros: Ulises Calleros a la guitarra y Juan Calleros en el bajo dejando en la batería a Álex "el Animal" González.
            
            A pesar de haber obtenido cierto éxito, esa primera grabación como Maná no dejó del todo satisfechos a los componentes del grupo. El deseo de mantener la identidad del grupo frente a los intereses comerciales y el cierre de la división latina de su disquera llevaron a Maná a quedar sin casa discográfica por un tiempo.</div>
    </div>
</div>

</section>




<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4"></div>
    </div>

    <div class="row">
    
    </div>
</div>